/*Beginn Stylesheet*/

/*Schriftsammlung*/
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Ceviche+One|Fugaz+One|Oleo+Script|Racing+Sans+One|Zilla+Slab+Highlight');

tab1 { padding-left: 4em ;}
/*Wrapper & Body*/
body {    width: 100%;
          height: 100%;
          background-color: white;
          /*background-image: linear-gradient( to bottom, #4568dc, #b06ab3);
          */margin: 0 auto;}

#Wrapper {  width: 95%;
            height: 100%;
            margin: 0 auto;}

.header {width: 100%;
        height: 500px;
        margin-top: 5%;
        background-image: url(https://78.media.tumblr.com/aea412f60dd7f0c97aa8f1a69e796e0e/tumblr_p3s2yeiNjA1wbm4dpo1_1280.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        text-align: center;
      top: 0;
      left: 0;}

/*Navigation*/

nav ul li a {
text-decoration: overline;
font:none;
align-items: center;
text-transform: uppercase;
width: 100%;
color: black;
text-align: center;
font-size: 19px;


}
nav ul {list-style: none;
text-align: center;
border: none;
padding: 0;



}
nav ul li {
  display: inline-block;
  border-radius: 10px;
  padding: 10px;

}

nav ul li a:hover{filter: opacity(0.5);}

.navbar {
    overflow: hidden;
    position: sticky; /* Set the navbar to fixed position */
    top: 0;
    left:0; /* Position the navbar at the top of the page */
    right: 0;
    width: 100%; /* Full width */
    text-align: center;
    margin: 0, auto;
    align-content: center;
    z-index: +5;
    }



/*Bilder*/
.Bild {align-items: center;
      width: 150px;
      position: relative;
      height:150px;
      margin: auto;
      top: 25%;
      border-color: none;
      text-align: center;
      display: block;
      z-index: +5;
      }


.Bild.Grösseprofilbild {
                  border-radius: 50%;
                  margin: 0, auto;
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-image: url(https://78.media.tumblr.com/94f6e859b1d615a1de058b50e8ebe1c1/tumblr_p3s5copsZJ1wbm4dpo1_1280.jpg);
                  }

.Grösseprofilbild:hover{filter: opacity(0.4);}

.Grösse {width: 300px;
        height: 300px;}

.Grösse.position {margin: 0 auto;}

.Grösse.position.form {border-radius: 50%;}

/*Titel*/

.titel {font-style: oblique;
        font-family: 'Bungee Shade';
        color: white;
        text-align: center;
        opacity: 0.5;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;}
.titel.gross:hover{filter: opacity(0.5);}

.titel.gross{font-size: 60px;}

.titel.klein{font-size: 50px;}

.titel.klein:hover{filter: opacity(0.5);}
/*Paragraph*/

.text { font-weight: bold;
        text-align: center;
        margin: 0 auto;}



/*Table*/
.table {
  font: black;
  font-style: normal;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid black;
  margin:auto;
  text-align: right;
  margin-bottom: 5%;
  margin-top: 5%;}

  td {
  text-align: left;
  border: none;
  padding: 8px;
  position: static;
  font-weight: bold;}

  .table.border :hover
  {
    filter: opacity(0.8);}

/*Chlini Bildli*/
.Bildchli{
  width: 350px;
  height:350px;
  border: none;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: center;
  z-index: +3;
  margin-left: 6.5%;
  margin-bottom: 5%;
box-shadow:  0px 0px 5px -1px rgba(0, 0, 0, 0.75);}

.Bildchli.drei{
background-image: url(https://78.media.tumblr.com/a0a9114db90aac8556b83706c6afa6d9/tumblr_p1fkxz7fy81wbm4dpo2_400.jpg);
float:left;
}
.Bildchli.zwei{
  background-image: url(https://78.media.tumblr.com/6167c5b76d7425d2b0f3f320b26ba700/tumblr_p1dwrb1CeZ1wbm4dpo1_1280.jpg);
  background-size: cover;
  background-position: center;
  }


.Bildchli.eis{
  background-image: url(https://78.media.tumblr.com/c12e3262ffc69dd0cf5de79ec385920c/tumblr_p1dwkn0wNw1wbm4dpo1_1280.jpg);
float: left;
background-size: cover;
background-position: center;}

.Bildchli.sechs{
background-image: url(https://78.media.tumblr.com/fe82e9fc1196525fb5cc9335e92c17ef/tumblr_p1dwjg9KyN1wbm4dpo1_1280.jpg);
float:left;
}
.Bildchli.fuf{
  background-image: url(https://78.media.tumblr.com/43450b09b8c0c020d4ae8c2e0735e988/tumblr_p1dwiqqfsg1wbm4dpo1_1280.jpg);
  background-size: contain;
  background-position: center;
  }


.Bildchli.vier{
  background-image: url(https://78.media.tumblr.com/75a2fd9dbe1104bba3c241bb599c6f2f/tumblr_p1dwiaRIrr1wbm4dpo1_1280.jpg);
float: left;
background-size: cover;
background-position: center;}

.Bildchli.nuen{
background-image: url(https://78.media.tumblr.com/1f4d78a75def146cb15f086eefa19bc2/tumblr_p1fllyRy6q1wbm4dpo1_1280.jpg);
float:left;
}
.Bildchli.acht{
  background-image: url(https://78.media.tumblr.com/ca2afdd1386c8c4130fb4f20bec1b3d7/tumblr_oz3zqibS8X1wbm4dpo3_540.jpg);
  background-size: contain;
  background-position: center;
  }


.Bildchli.siebe{
  background-image: url(https://78.media.tumblr.com/f964fae5f7d17b32f7a30da53ad0efc9/tumblr_owjjjtDsGO1wbm4dpo2_400.jpg);
float: left;
background-size: cover;
background-position: center;}

#Foto {margin: 0 auto;
      }


.socialmedia{
            z-index: +3;
            margin: 0 auto;
          margin-bottom: 5%;
          margin-left: 6.5%;
          margin-right: 6.5%;
          display: block;
          align-items: center;
          }

.socialmedia.snapcode{
  background-image: url(https://78.media.tumblr.com/9ac54b44d445c772d73da44020887425/tumblr_ozo9m6hzva1wbm4dpo1_1280.png);
  background-size: cover;
}

/*Tascherechner*/
#Rechner{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid black;
  position: relative;
  margin-bottom: 5%;
  margin-top: 5%;

}

#display
        {width: 100%;
        height: 10%;
        margin: 0 auto;
        font-size: 50px;
        text-align: center;
        font-style: oblique;
        text-decoration: underline;
        font-family: 'Ceviche+One';
        color: black;
              font-size: 50px;
              text-align: center;}

        #display:hover {filter: opacity(0.5);}



footer{width: 100%;
        height: 9%;
        border: 1px solid black;
        background-color: blue;}
