/*Beginn Stylesheet*/

/*Schriftsammlung*/
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Ceviche+One|Fugaz+One|Oleo+Script|Racing+Sans+One|Zilla+Slab+Highlight');

tab1 { padding-left: 4em ;}
/*Wrapper & Body*/
body {    width: 100%;
          height: 100%;
          background-image: linear-gradient( to bottom, #4568dc, #b06ab3);
          margin: 0 auto;}

#Wrapper {  width: 95%;
            height: 100%;
            margin: 0 auto;}

.header {width: 100%;
        height: 10%;
        margin-top: 5%;

        text-align: center;}

/*Navigation*/

nav ul li a {
text-decoration: overline;
font:none;
align-items: center;
text-transform: uppercase;
width: 100%;
color: black;
text-align: center;
font-size: 19px;


}
nav ul {list-style: none;
text-align: center;
border: none;



}
nav ul li {
  display: inline-block;
  border-radius: 10px;
  padding 0.6%;        
  
}

nav ul li a:hover{filter: opacity(0.5);}

.navbar {
    overflow: hidden;
    position: sticky; /* Set the navbar to fixed position */
    top: 0;
    left:0; /* Position the navbar at the top of the page */
    right: 0;
    width: 100%; /* Full width */
    text-align: center;
    margin: 0, auto;
    align-content: center;
    z-index: +5;
    }



/*Bilder*/
.Bild {align-items: center;
      width: 150px;
      height:150px;
      margin: 0, auto;
      margin: auto;
      margin-bottom: 5%;
      margin-top: 5%;
      border-color: none;
      text-align: center;
      display: block;
      }


.Bild.Grösseprofilbild {
                  border-radius: 50%;
                  background-size: cover;
                  background-image: url(https://78.media.tumblr.com/33632744bb01a73737439f44849b9104/tumblr_ozny3peGyI1wbm4dpo1_1280.jpg);
                  }

.Grösseprofilbild:hover{filter: opacity(0.4);}

.Grösse {width: 300px;
        height: 300px;}

.Grösse.position {margin: 0 auto;}

.Grösse.position.form {border-radius: 50%;}

/*Titel*/

.titel {font-style: oblique;
        font-family: 'Bungee Shade';
        color: white;
        text-align: center;
        opacity: 0.5;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;}
.titel.gross:hover{filter: opacity(0.5);}

.titel.gross{font-size: 60px;}

.titel.klein{font-size: 50px;}

.titel.klein:hover{filter: opacity(0.5);}
/*Paragraph*/

.text { font-weight: bold;
        text-align: center;
        margin: 0 auto;}



/*Table*/
.table {
  font: black;
  font-style: normal;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid black;
  margin:auto;
  text-align: right;
  margin-bottom: 5%;
  margin-top: 5%;}

  td {
  text-align: left;
  border: none;
  padding: 8px;
  position: static;
  font-weight: bold;}

  .table.border :hover
  {
    filter: opacity(0.8);}

/*Chlini Bildli*/
.Bildchli{
  width: 350px;
  height:350px;
  border: none;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: center;
  z-index: +3;
  margin-left: 6.5%;
  margin-bottom: 5%;}

.Bildchli.drei{
background-image: url(https://78.media.tumblr.com/f964fae5f7d17b32f7a30da53ad0efc9/tumblr_oxgio3PznM1wbm4dpo1_1280.jpg);
float:left;
}
.Bildchli.zwei{
  background-image: url(https://cdn.dopl3r.com/memes_files/ill-start-studying-at-7-but-suddenly-evil-kermit-comes-into-play-dXMuy.jpg);
  background-size: contain;
  background-position: center;
  }


.Bildchli.eis{
  background-image: url(https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/15822528_169728273506758_9159606409945302973_n.jpg?oh=94bbbb20dc93d807bd2bb5a468f8f4b0&oe=5A9BB22C);
float: left;
background-size: cover;
background-position: center;}

#Foto {margin: 0 auto;
      }

.socialmedia{width: 200px;
            height: 200px;
            z-index: +3;
            margin: 0 auto;
          margin-bottom: 5%;
          margin-left 5%;
          display: block;
          align-items: center;
          }

.socialmedia.snapcode{
  background-image: url(https://78.media.tumblr.com/9ac54b44d445c772d73da44020887425/tumblr_ozo9m6hzva1wbm4dpo1_1280.png);
  background-size: cover;
}

/*Tascherechner*/
#Rechner{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid black;
  position: relative;
  margin-bottom: 5%;
  margin-top: 5%;

}

#display
        {width: 100%;
        height: 10%;
        margin: 0 auto;

        font-style: oblique;
        font-family: 'Bungee Shade';
        color: white;
              text-decoration: inherit;
              font-size: 50px;
              text-align: center;
            opacity: 0.5;
        text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
                     #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;}
        #display:hover {filter: opacity(0.5);}



footer{width: 100%;
        height: 9%;
        border: 1px solid black;
        background-color: blue;}
